[MAIN]
jobs=4
source-roots=.

[MESSAGES CONTROL]
disable=C0114,
        C0115,
        C0116,
        C0206,
        C0301,
        C0302,
        C0303,
        C0411,
        C0413,
        E0401,
        R0801,
        R0902,
        R0903,
        R0911,
        R0912,
        R0913,
        R0914,
        R0915,
        R0917,
        R1702,
        W0511,
        W0611,
        W0612,
        W0613,
        W0621,
        W0622,
        W0718,
        W1514

[FORMAT]
max-line-length=100
